@font-face {
    font-family: 'SohneBold';
    src: url('../fonts/Sohne-Kraftig.woff2') format('woff2'),
        url('../fonts/Sohne-Kraftig.woff') format('woff'),
        url('../fonts/Sohne-Kraftig.ttf') format('truetype'),
        url('../fonts/Sohne-Kraftig.svg#Sohne-Kraftig') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SohneRegular';
    src: url('../fonts/Sohne-Leicht.woff2') format('woff2'),
        url('../fonts/Sohne-Leicht.woff') format('woff'),
        url('../fonts/Sohne-Leicht.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SohneSemibold';
    src: url('../fonts/Sohne-Buch.woff2') format('woff2'),
        url('../fonts/Sohne-Buch.woff') format('woff'),
        url('../fonts/Sohne-Buch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

