.gradient {

  width: 100%;
  max-width: 100%;
  min-height: 900px;
  position: absolute;
  left: 0;
  top: -20%;
  z-index: -1;

  .layer1, .layer2, .layer4 {
    font-family: sans-serif;
    font-size: 108px;
    font-weight: 700;
    letter-spacing: -5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
  }

  .layer1 {
    color: #3a3a3a;
    mix-blend-mode: color-burn;
    z-index: 2;
  }

  .layer2 {
    color: #3a3a3a;
    opacity: 0.3;
    z-index: 2;
  }

  .layer3 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 100%, #a960ee, #ff333d, #90e0ff, #ffcb57, #ff333d, #90e0ff, #a960ee);
    background-size: 600%;
    animation: changeColor 50s infinite;
    transform: skew(0,-12deg) translate(0,-50%);
  }

  @keyframes changeColor {
    0%, 100% {
      background-position: 0% 50;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  .layer4 {
    color: #bdc6d2;
  }
}
