&.payments {
    background-image: url("../img/icons/payments.png");
}

&.payments-links {
    background-image: url("../img/icons/payments-links.png");
}

&.invoicing {
    background-image: url("../img/icons/invoicing.png");
}

&.billing {
    background-image: url("../img/icons/billing.png");
}

&.connect {
    background-image: url("../img/icons/connect.png");
}

&.terminal {
    background-image: url("../img/icons/terminal.png");
}

&.issuing {
    background-image: url("../img/icons/issuing.png");
}

&.radar {
    background-image: url("../img/icons/radar.png");
}

&.sigma {
    background-image: url("../img/icons/sigma.png");
}

&.atlas {
    background-image: url("../img/icons/atlas.png");
}

&.climate {
    background-image: url("../img/icons/climate.png");
}

&.tax {
    background-image: url("../img/icons/tax.png");
}

&.identity {
    background-image: url("../img/icons/identity.png");
}

&.ecommerce {
    background-image: url("../img/icons/ecommerce.png");
}

&.saas {
    background-image: url("../img/icons/saas.png");
}

&.marketplace {
    background-image: url("../img/icons/marketplace.png");
}

&.piattaforme {
    background-image: url("../img/icons/piattaforme.png");
}

&.creator {
    background-image: url("../img/icons/creator.png");
}

&.identity {
    background-image: url("../img/icons/identity.png");
}

&.informazioni {
    background-image: url("../img/icons/informazioni.png");
}

&.clienti,
&.partner {
    background-image: url("../img/icons/partner.png");
}

&.enterprise {
    background-image: url("../img/icons/enterprise.png");
}

&.lavora-con-noi {
    background-image: url("../img/icons/lavora-con-noi.png");
}

&.sala-stampa {
    background-image: url("../img/icons/sala-stampa.png");
}

&.sessions {
    background-image: url("../img/icons/sessions.png");
}