@font-face {
  font-family: 'SohneBold';
  src: url("../fonts/Sohne-Kraftig.woff2") format("woff2"), url("../fonts/Sohne-Kraftig.woff") format("woff"), url("../fonts/Sohne-Kraftig.ttf") format("truetype"), url("../fonts/Sohne-Kraftig.svg#Sohne-Kraftig") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SohneRegular';
  src: url("../fonts/Sohne-Leicht.woff2") format("woff2"), url("../fonts/Sohne-Leicht.woff") format("woff"), url("../fonts/Sohne-Leicht.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SohneSemibold';
  src: url("../fonts/Sohne-Buch.woff2") format("woff2"), url("../fonts/Sohne-Buch.woff") format("woff"), url("../fonts/Sohne-Buch.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.gradient {
  width: 100%;
  max-width: 100%;
  min-height: 900px;
  position: absolute;
  left: 0;
  top: -20%;
  z-index: -1;
}

.gradient .layer1, .gradient .layer2, .gradient .layer4 {
  font-family: sans-serif;
  font-size: 108px;
  font-weight: 700;
  letter-spacing: -5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
}

.gradient .layer1 {
  color: #3a3a3a;
  mix-blend-mode: color-burn;
  z-index: 2;
}

.gradient .layer2 {
  color: #3a3a3a;
  opacity: 0.3;
  z-index: 2;
}

.gradient .layer3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 100%, #a960ee, #ff333d, #90e0ff, #ffcb57, #ff333d, #90e0ff, #a960ee);
  background-size: 600%;
  -webkit-animation: changeColor 50s infinite;
          animation: changeColor 50s infinite;
  -webkit-transform: skew(0, -12deg) translate(0, -50%);
          transform: skew(0, -12deg) translate(0, -50%);
}

@-webkit-keyframes changeColor {
  0%, 100% {
    background-position: 0% 50;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes changeColor {
  0%, 100% {
    background-position: 0% 50;
  }
  50% {
    background-position: 100% 50%;
  }
}

.gradient .layer4 {
  color: #bdc6d2;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1090px;
  height: 56px;
  padding: 12px;
  margin: 0 auto;
  width: 98%;
}

@media (min-width: 1090px) {
  header .container {
    width: 1090px;
  }
}

header .container #logo {
  width: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 9999;
}

header .container #logo h1 {
  font-family: 'FagoCo';
  font-weight: 900;
  font-style: normal;
  font-size: 28px;
  color: #fff;
}

header .container #menu {
  position: relative;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 1089px) {
  header .container #menu {
    display: none;
  }
}

header .container #menu .navBtn {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container #menu .navBtn #indication-mark-wrap {
  display: none;
  position: absolute;
  left: 38px;
  top: 37px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

header .container #menu .navBtn #indication-mark-wrap .indication-mark {
  position: relative;
  display: block;
}

header .container #menu .navBtn #submenu-content {
  display: none;
  opacity: 0;
  width: 800px;
  margin: 35px auto;
  border-radius: 10px;
  position: absolute;
  background: #fff;
  color: #000;
  top: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  -webkit-box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3);
  -webkit-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}

header .container #menu .navBtn #submenu-content.active, header .container #menu .navBtn #submenu-content:hover {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container #menu .navBtn #submenu-content.prodotti {
  width: 800px;
}

header .container #menu .navBtn #submenu-content.casi-duso {
  width: 500px;
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li {
  height: 65px;
  padding: 0 0 0 30px;
  margin-bottom: 15px;
  background-size: 15px;
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.payments {
  background-image: url("../img/icons/payments.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.payments-links {
  background-image: url("../img/icons/payments-links.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.invoicing {
  background-image: url("../img/icons/invoicing.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.billing {
  background-image: url("../img/icons/billing.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.connect {
  background-image: url("../img/icons/connect.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.terminal {
  background-image: url("../img/icons/terminal.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.issuing {
  background-image: url("../img/icons/issuing.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.radar {
  background-image: url("../img/icons/radar.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.sigma {
  background-image: url("../img/icons/sigma.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.atlas {
  background-image: url("../img/icons/atlas.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.climate {
  background-image: url("../img/icons/climate.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.tax {
  background-image: url("../img/icons/tax.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.identity {
  background-image: url("../img/icons/identity.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.ecommerce {
  background-image: url("../img/icons/ecommerce.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.saas {
  background-image: url("../img/icons/saas.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.marketplace {
  background-image: url("../img/icons/marketplace.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.piattaforme {
  background-image: url("../img/icons/piattaforme.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.creator {
  background-image: url("../img/icons/creator.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.identity {
  background-image: url("../img/icons/identity.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.informazioni {
  background-image: url("../img/icons/informazioni.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.clienti, header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.partner {
  background-image: url("../img/icons/partner.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.enterprise {
  background-image: url("../img/icons/enterprise.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.lavora-con-noi {
  background-image: url("../img/icons/lavora-con-noi.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.sala-stampa {
  background-image: url("../img/icons/sala-stampa.png");
}

header .container #menu .navBtn #submenu-content.casi-duso .items .item ul li.sessions {
  background-image: url("../img/icons/sessions.png");
}

header .container #menu .navBtn #submenu-content.sviluppatori {
  width: 700px;
}

header .container #menu .navBtn #submenu-content.sviluppatori .items {
  padding: 0px;
}

header .container #menu .navBtn #submenu-content.sviluppatori .items .item ul {
  padding: 20px 35px;
}

header .container #menu .navBtn #submenu-content.sviluppatori .items .item ul.gray {
  background: #f6f9fc;
  margin: 2px;
  border-radius: 5px;
}

header .container #menu .navBtn #submenu-content.sviluppatori .items .item ul.gray .columns .column p {
  font-family: "SohneBold";
}

header .container #menu .navBtn #submenu-content.sviluppatori .items .item ul .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container #menu .navBtn #submenu-content.sviluppatori .items .item ul .columns .column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

header .container #menu .navBtn #submenu-content.sviluppatori .items .item ul .columns .column p {
  color: #0a2540;
  font-family: "SohneRegular";
  font-size: 13px;
}

header .container #menu .navBtn #submenu-content.sviluppatori .items .item ul li.documentazione {
  background: url("../img/icons/documentazione.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0px 5px;
  padding-left: 30px;
}

header .container #menu .navBtn #submenu-content.azienda {
  width: 450px;
}

header .container #menu .navBtn #submenu-content.azienda .items {
  padding: 0px;
}

header .container #menu .navBtn #submenu-content.azienda .items .item {
  padding: 0;
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 35px;
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p {
  color: #0a2540;
  font-family: "SohneSemibold";
  font-size: 13px;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0px 2px;
  padding-left: 20px;
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.payments {
  background-image: url("../img/icons/payments.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.payments-links {
  background-image: url("../img/icons/payments-links.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.invoicing {
  background-image: url("../img/icons/invoicing.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.billing {
  background-image: url("../img/icons/billing.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.connect {
  background-image: url("../img/icons/connect.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.terminal {
  background-image: url("../img/icons/terminal.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.issuing {
  background-image: url("../img/icons/issuing.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.radar {
  background-image: url("../img/icons/radar.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.sigma {
  background-image: url("../img/icons/sigma.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.atlas {
  background-image: url("../img/icons/atlas.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.climate {
  background-image: url("../img/icons/climate.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.tax {
  background-image: url("../img/icons/tax.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.identity {
  background-image: url("../img/icons/identity.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.ecommerce {
  background-image: url("../img/icons/ecommerce.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.saas {
  background-image: url("../img/icons/saas.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.marketplace {
  background-image: url("../img/icons/marketplace.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.piattaforme {
  background-image: url("../img/icons/piattaforme.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.creator {
  background-image: url("../img/icons/creator.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.identity {
  background-image: url("../img/icons/identity.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.informazioni {
  background-image: url("../img/icons/informazioni.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.clienti, header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.partner {
  background-image: url("../img/icons/partner.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.enterprise {
  background-image: url("../img/icons/enterprise.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.lavora-con-noi {
  background-image: url("../img/icons/lavora-con-noi.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.sala-stampa {
  background-image: url("../img/icons/sala-stampa.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .columns .column p.sessions {
  background-image: url("../img/icons/sessions.png");
}

header .container #menu .navBtn #submenu-content.azienda .items .item .gray {
  padding: 20px 35px;
  background: #f6f9fc;
  margin: 2px;
  border-radius: 5px;
}

header .container #menu .navBtn #submenu-content.azienda .items .item .gray h3 {
  color: #0a2540;
}

header .container #menu .navBtn #submenu-content.azienda .items .item .gray p {
  font-family: "SohneSemibold";
  font-size: 14px;
  color: #8898aa;
}

header .container #menu .navBtn #submenu-content ul {
  list-style: none;
  padding: 0;
}

header .container #menu .navBtn #submenu-content .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 35px;
}

header .container #menu .navBtn #submenu-content .items .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .container #menu .navBtn #submenu-content .items .item h3 {
  font-family: "SohneSemibold";
  color: #8898aa;
  font-size: 13px;
}

header .container #menu .navBtn #submenu-content .items .item ul li {
  font-family: "SohneBold";
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 35px;
  cursor: pointer;
  height: 35px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 0 0 0 50px;
}

header .container #menu .navBtn #submenu-content .items .item ul li:last-child {
  margin-bottom: 0;
}

header .container #menu .navBtn #submenu-content .items .item ul li p {
  font-family: "SohneSemibold";
  color: #8898aa;
  margin: 2px 0 0 0;
}

header .container #menu .navBtn #submenu-content .items .item ul li.payments {
  background-image: url("../img/icons/payments.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.payments-links {
  background-image: url("../img/icons/payments-links.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.invoicing {
  background-image: url("../img/icons/invoicing.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.billing {
  background-image: url("../img/icons/billing.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.connect {
  background-image: url("../img/icons/connect.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.terminal {
  background-image: url("../img/icons/terminal.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.issuing {
  background-image: url("../img/icons/issuing.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.radar {
  background-image: url("../img/icons/radar.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.sigma {
  background-image: url("../img/icons/sigma.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.atlas {
  background-image: url("../img/icons/atlas.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.climate {
  background-image: url("../img/icons/climate.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.tax {
  background-image: url("../img/icons/tax.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.identity {
  background-image: url("../img/icons/identity.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.ecommerce {
  background-image: url("../img/icons/ecommerce.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.saas {
  background-image: url("../img/icons/saas.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.marketplace {
  background-image: url("../img/icons/marketplace.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.piattaforme {
  background-image: url("../img/icons/piattaforme.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.creator {
  background-image: url("../img/icons/creator.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.identity {
  background-image: url("../img/icons/identity.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.informazioni {
  background-image: url("../img/icons/informazioni.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.clienti, header .container #menu .navBtn #submenu-content .items .item ul li.partner {
  background-image: url("../img/icons/partner.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.enterprise {
  background-image: url("../img/icons/enterprise.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.lavora-con-noi {
  background-image: url("../img/icons/lavora-con-noi.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.sala-stampa {
  background-image: url("../img/icons/sala-stampa.png");
}

header .container #menu .navBtn #submenu-content .items .item ul li.sessions {
  background-image: url("../img/icons/sessions.png");
}

header .container #menu .navBtn .mainItem {
  padding: 10px 20px;
  font-family: "SohneSemibold";
  font-weight: 900;
  font-style: normal;
  font-size: 15px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: default;
}

header .container #menu .navBtn .mainItem .subnav {
  display: none;
}

header .container #menu .navBtn .mainItem:hover {
  opacity: 0.6;
}

header .container #menu .navBtn .mainItem:hover #submenu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .cta {
  position: relative;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  background: rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  border-radius: 20px;
}

header .container .cta:hover {
  background: rgba(255, 255, 255, 0.5);
}

header .container .cta a {
  font-family: "SohneBold";
  font-size: 14px;
  padding: 2px 10px;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1089px) {
  header .container .cta a {
    display: none;
  }
}

header .container .cta .hamburger {
  display: none;
  cursor: pointer;
}

@media (max-width: 1089px) {
  header .container .cta .hamburger {
    display: block;
  }
}

header .container .cta .hamburger div {
  width: 18px;
  height: 2px;
  background-color: white;
  margin: 3px 0;
}

header #mobile-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 98vw;
  background: white;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  margin: 0;
  top: 10px;
  z-index: 999999;
  border-radius: 10px;
  -webkit-box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3);
  display: none;
}

header #mobile-menu .close-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  background: url("../img/icons/close-btn.png");
  background-size: auto 100%;
}

header #mobile-menu .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px dashed rgba(66, 71, 112, 0.09);
}

header #mobile-menu .row:last-child {
  border: 0;
}

header #mobile-menu .row h3 {
  font-family: "SohneSemibold";
  color: #8898aa;
  font-size: 13px;
}

header #mobile-menu .row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  padding: 0;
}

header #mobile-menu .row ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 21%;
          flex: 1 0 21%;
  font-family: "SohneBold";
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 20px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 0 0 0 25px;
  color: #0a2540;
}

@media (max-width: 766px) {
  header #mobile-menu .row ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
}

header #mobile-menu .row ul li:last-child {
  margin-bottom: 0;
}

header #mobile-menu .row ul li.payments {
  background-image: url("../img/icons/payments.png");
}

header #mobile-menu .row ul li.payments-links {
  background-image: url("../img/icons/payments-links.png");
}

header #mobile-menu .row ul li.invoicing {
  background-image: url("../img/icons/invoicing.png");
}

header #mobile-menu .row ul li.billing {
  background-image: url("../img/icons/billing.png");
}

header #mobile-menu .row ul li.connect {
  background-image: url("../img/icons/connect.png");
}

header #mobile-menu .row ul li.terminal {
  background-image: url("../img/icons/terminal.png");
}

header #mobile-menu .row ul li.issuing {
  background-image: url("../img/icons/issuing.png");
}

header #mobile-menu .row ul li.radar {
  background-image: url("../img/icons/radar.png");
}

header #mobile-menu .row ul li.sigma {
  background-image: url("../img/icons/sigma.png");
}

header #mobile-menu .row ul li.atlas {
  background-image: url("../img/icons/atlas.png");
}

header #mobile-menu .row ul li.climate {
  background-image: url("../img/icons/climate.png");
}

header #mobile-menu .row ul li.tax {
  background-image: url("../img/icons/tax.png");
}

header #mobile-menu .row ul li.identity {
  background-image: url("../img/icons/identity.png");
}

header #mobile-menu .row ul li.ecommerce {
  background-image: url("../img/icons/ecommerce.png");
}

header #mobile-menu .row ul li.saas {
  background-image: url("../img/icons/saas.png");
}

header #mobile-menu .row ul li.marketplace {
  background-image: url("../img/icons/marketplace.png");
}

header #mobile-menu .row ul li.piattaforme {
  background-image: url("../img/icons/piattaforme.png");
}

header #mobile-menu .row ul li.creator {
  background-image: url("../img/icons/creator.png");
}

header #mobile-menu .row ul li.identity {
  background-image: url("../img/icons/identity.png");
}

header #mobile-menu .row ul li.informazioni {
  background-image: url("../img/icons/informazioni.png");
}

header #mobile-menu .row ul li.clienti, header #mobile-menu .row ul li.partner {
  background-image: url("../img/icons/partner.png");
}

header #mobile-menu .row ul li.enterprise {
  background-image: url("../img/icons/enterprise.png");
}

header #mobile-menu .row ul li.lavora-con-noi {
  background-image: url("../img/icons/lavora-con-noi.png");
}

header #mobile-menu .row ul li.sala-stampa {
  background-image: url("../img/icons/sala-stampa.png");
}

header #mobile-menu .row ul li.sessions {
  background-image: url("../img/icons/sessions.png");
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

div.firstSection {
  position: relative;
  z-index: 999;
}

div.firstSection .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1090px;
  margin: 0 auto;
  width: 98%;
}

@media (min-width: 1090px) {
  div.firstSection .container {
    width: 1090px;
  }
}

div.firstSection .container .stripes {
  position: absolute;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  margin: 0 auto;
}

div.firstSection .container .stripes .stripe {
  width: calc(1090px / 4);
  height: 100%;
  border-right: 1px dashed rgba(66, 71, 112, 0.09);
}

div.firstSection .container .stripes .stripe:nth-child(1) {
  border-left: 1px solid rgba(66, 71, 112, 0.09);
}

div.firstSection .container .stripes .stripe:nth-child(4) {
  border-right: 1px solid rgba(66, 71, 112, 0.09);
}

div.firstSection .container .half {
  padding: 0 0 100px 0px;
  z-index: -1;
}

div.firstSection .container .half.one {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 0 100px 20px;
}

div.firstSection .container .half.one h1 {
  font-family: "SohneBold";
  line-height: 75pt;
  font-size: 94px;
  min-width: calc(100% + 100px);
  min-height: 200px;
  margin-top: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #3a3a3a;
  letter-spacing: -0.04em;
  mix-blend-mode: color-burn;
  opacity: 1;
}

@media (max-width: 1550px) {
  div.firstSection .container .half.one h1 {
    font-size: 90px;
    line-height: 80pt;
  }
}

@media (max-width: 1450px) {
  div.firstSection .container .half.one h1 {
    font-size: 85px;
    line-height: 80pt;
  }
}

@media (max-width: 1350px) {
  div.firstSection .container .half.one h1 {
    font-size: 80px;
    line-height: 80pt;
  }
}

@media (max-width: 1250px) {
  div.firstSection .container .half.one h1 {
    font-size: 80px;
    line-height: 75pt;
  }
}

@media (max-width: 1150px) {
  div.firstSection .container .half.one h1 {
    font-size: 80px;
    line-height: 65pt;
  }
}

@media (max-width: 1090px) {
  div.firstSection .container .half.one h1 {
    min-width: calc(65% + 100px);
    font-size: 65px;
    line-height: 55pt;
  }
}

div.firstSection .container .half.one p {
  font-family: "SohneRegular";
  font-weight: bold;
  font-size: 18px;
  color: #425466;
  line-height: 28px;
  letter-spacing: 0.5px;
}

div.firstSection .container .half.one button {
  background: #0a2540;
  color: #fff;
  border-radius: 20px;
  border: 0;
  padding: 8px 18px;
  font-size: 15px;
}

div.firstSection .container .half.one a {
  font-size: 15px;
  margin: 0 0 0 10px;
  font-family: "SohneSemibold";
  text-decoration: none;
  color: #0a2540;
  font-weight: 900;
}

div.firstSection .container .half.one a i {
  border-width: 0 2.6px 2.6px 0;
  padding: 2.8px;
  border-color: #0a2540;
}

div.firstSection .container .half.two {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

div.firstSection .container .half.two .bg-image {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 100%;
  position: absolute;
  right: 0;
  background: url("../img/header_img.png");
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: top right;
}

@media (max-width: 1550px) {
  div.firstSection .container .half.two .bg-image {
    background-position: calc(100% - -30px) 0;
  }
}

@media (max-width: 1450px) {
  div.firstSection .container .half.two .bg-image {
    background-position: calc(100% - -50px) 0;
  }
}

@media (max-width: 1350px) {
  div.firstSection .container .half.two .bg-image {
    background-position: calc(100% - -70px) 0;
  }
}

@media (max-width: 1250px) {
  div.firstSection .container .half.two .bg-image {
    background-position: calc(100% - -90px) 0;
  }
}

@media (max-width: 1150px) {
  div.firstSection .container .half.two .bg-image {
    background-position: calc(100% - -150px) 0;
  }
}

@media (max-width: 1090px) {
  div.firstSection .container .half.two .bg-image {
    background-position: calc(100% - -200px) 0;
  }
}

@media (max-width: 1050px) {
  div.firstSection .container .half.two .bg-image {
    background-size: 130% auto;
  }
}

@media (max-width: 700px) {
  div.firstSection .container .half.two .bg-image {
    display: none;
  }
}

div.firstSection .container .customers {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 100px 0;
}

div.firstSection .container .customers ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.firstSection .container .customers ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
}

@media (max-width: 1089px) {
  div.firstSection .container .customers ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
    margin: 50px 0;
  }
  div.firstSection .container .customers ul li:nth-child(n+4) {
    margin-top: 50px;
  }
}

div.firstSection .container .customers ul li img {
  width: 200px;
  height: auto;
}

@media (min-width: 1090px) {
  div.firstSection .container .customers ul li:nth-child(n+5) {
    margin-top: 50px;
  }
}

div.secondSection {
  position: relative;
  z-index: 999;
}

div.secondSection .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1090px;
  margin: 0 auto;
}

div.secondSection .container .half {
  padding: 0 0 100px 0px;
  z-index: 999;
}

div.secondSection .container .half.one {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  padding: 0 0 100px 20px;
  margin-top: 100px;
}

div.secondSection .container .half.one h3 {
  font-family: "SohneBold";
  color: #00d4ff;
}

div.secondSection .container .half.one h1 {
  font-family: "SohneBold";
  line-height: 40pt;
  font-size: 40px;
  color: white;
}

div.secondSection .container .half.one p {
  font-family: "SohneRegular";
  font-weight: bold;
  font-size: 18px;
  color: #adbdcc;
  line-height: 28px;
  letter-spacing: 0.5px;
}

div.secondSection .container .half.one p span.blue {
  color: #00d4ff;
}

div.secondSection .container .half.one button {
  background: #0a2540;
  color: #fff;
  border-radius: 20px;
  border: 0;
  padding: 8px 18px;
  font-size: 15px;
}

div.secondSection .container .half.one a {
  font-size: 15px;
  margin: 0 0 0 10px;
  font-family: "SohneSemibold";
  text-decoration: none;
  color: #0a2540;
  font-weight: 900;
}

div.secondSection .container .half.one a i {
  border-width: 0 2.6px 2.6px 0;
  padding: 2.8px;
  border-color: #0a2540;
}

div.secondSection .container .half.two {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 0 100px 20px;
  margin-top: 100px;
}

div.secondSection .container .infoBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

div.secondSection .container .infoBoxes .infoBox {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 17%;
          flex: 1 0 17%;
  margin: 10px;
  padding: 10px;
}

div.secondSection .container .infoBoxes .infoBox h3 {
  font-size: 22px;
  font-family: "SohneSemibold";
  color: white;
}

div.secondSection .container .infoBoxes .infoBox h3 span.blue {
  width: 1px;
  background: #00d4ff;
  margin-right: 10px;
  height: 17px;
  display: inline-block;
}

div.secondSection .container .infoBoxes .infoBox h1 {
  font-family: "SohneBold";
  line-height: 40pt;
  font-size: 40px;
  color: white;
}

div.secondSection .container .infoBoxes .infoBox p {
  font-family: "SohneRegular";
  font-weight: bold;
  font-size: 14px;
  color: #adbdcc;
  line-height: 22px;
  letter-spacing: 0.5px;
}

div.secondSection .container .infoBoxes .infoBox p span.blue {
  color: #00d4ff;
}

div.secondSection .container .globeContainer {
  overflow: hidden;
  width: 100%;
  min-height: 900px;
  height: 100%;
  left: 0;
  position: absolute;
  background: #0a2540;
  z-index: -1;
}

div.secondSection .container .globeContainer #globeDiv {
  position: absolute;
  width: 60%;
  right: 0;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */