
@import "./fonts";
@import "./gradient";
@import "./mixin";

$mainFontRegular: 'SohneRegular';
$mainFontSemibold: 'SohneSemibold';
$mainFontBold: 'SohneBold';
$bodyColor: #425466;
$accentColor: #0a2540;
$accentColor2: #00d4ff;
$menuGray: #8898aa;
$menuGray2: #f6f9fc;
$textGray: #adbdcc;
$borderColor: rgba(66,71,112,0.09);

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

header {

    .container {

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        box-sizing: border-box;
        width: 1090px;
        height: 56px;
        padding: 12px;
        margin: 0 auto;

        width: 98%;
        
        @include respond-above('medium') {
            width: 1090px;
        }

        #logo {
            width: 100px;
            position: relative;
            display: flex;
            align-items: flex-start;
            align-self: center;
            z-index: 9999;
            h1 {
                font-family: 'FagoCo';
                font-weight: 900;
                font-style: normal;
                font-size: 28px;
                color: #fff;
            }
        }
    
        #menu {

            position: relative;
            z-index: 9999;
            display: flex;
            align-self: center;

            @include respond-below('medium') {
                display: none;
            }

            .navBtn {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;

                #indication-mark-wrap {

                    display: none;
                    position: absolute;
                    left: 38px;
                    top: 37px;

                    width: 0; 
                    height: 0; 
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    
                    border-bottom: 8px solid white;

                    // transform: translateY(12px);
                    transition: all 250ms;

                    .indication-mark {
                        position: relative;
                        display: block;
                    }

                }

                #submenu-content {

                    display: none;
                    opacity: 0;
                    width: 800px;
                    margin: 35px auto;
                    border-radius: 10px;
                    position: absolute;
                    background: #fff;
                    color: #000;
                    top: 10px;
                    transform: translateX(-50%);
                    left: 50%;
                    box-shadow: 0 50px 100px -20px rgba(50,50,93,0.25),0 30px 60px -30px rgba(0,0,0,0.3);
                    transition: width 250ms ease-in-out;
                    
                    &.active,
                    &:hover {
                        opacity: 1;
                        display: flex;
                    }

                    &.prodotti {
                        width: 800px;
                    }

                    &.casi-duso {
                        width: 500px;

                        .items {

                            .item {
    
                                ul {
    
                                    li {
                                        
                                        height: 65px;
                                        padding: 0 0 0 30px;
                                        margin-bottom: 15px;
                                        background-size: 15px;
                                        
                                        @import "./menu-icons";

                                    }
    
                                }
                            }
                        }
                    }

                    &.sviluppatori {
                        
                        width: 700px;

                        .items {

                            padding: 0px;

                            .item {
    
                                ul {
    
                                    padding: 20px 35px;
                                        
                                    &.gray {
                                        background: $menuGray2;
                                        margin: 2px;
                                        border-radius: 5px;

                                        .columns {
                                            
                                            .column {

                                                p {
                                                    
                                                    font-family: $mainFontBold;

                                                }

                                            }

                                        }

                                    }
    
                                    .columns {
                                        display: flex;
            
                                        .column {
            
                                            flex: 0 0 50%;
            
                                            p {
                                                color: #0a2540;
                                                font-family: $mainFontRegular;
                                                font-size: 13px;
                                            }
            
                                        }
                                    }

                                    li {

                                        &.documentazione {
                                            background: url("../img/icons/documentazione.png");
                                            background-repeat: no-repeat;
                                            background-size: 15px;
                                            background-position: 0px 5px;
                                            padding-left: 30px;
                                        }

                                    }
                                    
                                }
    
                            }
                        }

                    }

                    &.azienda {
                        width: 450px;

                        .items {

                            padding: 0px;

                            .item {
    
                                padding: 0;

                                .columns {

                                    display: flex;
                                    padding: 20px 35px;
        
                                    .column {
        
                                        flex: 0 0 50%;
        
                                        p {
                                            color: $accentColor;
                                            font-family: $mainFontSemibold;
                                            font-size: 13px;

                                            background-repeat: no-repeat;
                                            background-size: 15px;
                                            background-position: 0px 2px;
                                            padding-left: 20px;

                                            @import "./menu-icons";

                                        }
        
                                    }
                                }
                                        
                                .gray {

                                    padding: 20px 35px;
                                    background: $menuGray2;
                                    margin: 2px;
                                    border-radius: 5px;

                                    h3 {
                                        color: $accentColor;
                                    }

                                    p {
                                        
                                        font-family: $mainFontSemibold;
                                        font-size: 14px;
                                        color: $menuGray;

                                    }

                                }
    
                            }
                        }

                    }
                    
                    ul {
                        list-style: none;
                        padding: 0;
                    }

                    .items {

                        display: flex;
                        flex: 1;
                        padding: 20px 35px;

                        .item {
    
                            flex: 1;
    
                            h3 {
                                font-family: $mainFontSemibold;
                                color: $menuGray;
                                font-size: 13px;
                            }
    
                            ul {
    
                                li {
    
                                    font-family: $mainFontBold;
                                    font-size: 14px;
                                    line-height: 20px;
                                    margin-bottom: 35px;
                                    cursor: pointer;
                                    
                                    &:last-child {
                                        margin-bottom: 0;
                                    }

                                    height: 35px;
    
                                    background-repeat: no-repeat;
                                    background-size: auto 100%;
                                    padding: 0 0 0 50px;
    
                                    p {
                                        font-family: $mainFontSemibold;
                                        color: $menuGray;
                                        margin: 2px 0 0 0;
                                    }
    
                                    @import "./menu-icons";

                                }
                            }
                        }
                    }

                }
                
                .mainItem {

                    padding: 10px 20px;
                    font-family: $mainFontSemibold;
                    font-weight: 900;
                    font-style: normal;
                    font-size: 15px;
                    color: #fff;
                    display: flex;
                    flex-direction: row;
                    cursor: default;

                    .subnav {
                        display: none;
                    }

                    &:hover {

                        opacity: 0.6;

                        #submenu-content {
                            display: flex;
                        }

                    }
                }
            }
        }

        .cta {
            position: relative;
            z-index: 9999;
            display: flex;
            align-self: center;

            background: rgba(255, 255, 255, 0.3);
            padding: 5px 10px;
            border-radius: 20px;

            &:hover {
                background: rgba(255, 255, 255, 0.5);
            }

            a {
                font-family: $mainFontBold;
                font-size: 14px;
                padding: 2px 10px;
                color: #fff;
                text-decoration: none;

                @include respond-below('medium') {
                    display: none;
                }

            }

            .hamburger {

                display: none;
                cursor: pointer;
                
                @include respond-below('medium') {
                    display: block;
                }

                div {
                    width: 18px;
                    height: 2px;
                    background-color: white;
                    margin: 3px 0;
                }

            }

        }

    }

    #mobile-menu {

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 98vw;
        background: white;
        padding: 15px 20px;
        display: flex;
        flex: 1;
        flex-direction: column;
        box-sizing: border-box;
        height: auto;
        margin: 0;
        top: 10px;
        z-index: 999999;
        border-radius: 10px;

        box-shadow: 0 50px 100px -20px rgba(50,50,93,0.25),0 30px 60px -30px rgba(0,0,0,0.3);

        display: none;

        .close-btn {
            width: 40px;
            height: 40px;
            position: absolute;
            right: 20px;
            background: url("../img/icons/close-btn.png");
            background-size: auto 100%;
        }

        .row {
            display: flex;
            flex-direction: column;
            border-bottom: 1px dashed $borderColor;

            &:last-child {
                border: 0;
            }

            h3 {
                font-family: $mainFontSemibold;
                color: $menuGray;
                font-size: 13px;
            }

            ul {

                display: flex;
                flex-wrap: wrap;
                flex: 1;
                list-style: none;
                padding: 0;

                li {

                    flex: 1 0 21%;
                    
                    @include respond-below('small') {
                        flex: 1 0 25%;
                    }

                    font-family: $mainFontBold;
                    font-size: 14px;
                    line-height: 15px;
                    margin-bottom: 20px;
                    height: 15px;
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                    padding: 0 0 0 25px;
                    color: $accentColor;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    @import "./menu-icons";

                }

            }
        }

    }

}

.arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

div.firstSection {
    position: relative;
    z-index: 999;

    .container {

        display: flex;
        flex-wrap: wrap;
        width: 1090px;
        margin: 0 auto;

        width: 98%;
        
        @include respond-above('medium') {
            width: 1090px;
        }

        .stripes {
            position: absolute;
            z-index: -1;
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            margin: 0 auto;


            .stripe {
                
                width: calc(1090px / 4);
                height: 100%;
                border-right: 1px dashed $borderColor;

                &:nth-child(1) {
                    border-left: 1px solid $borderColor;
                }

                &:nth-child(4) {
                    border-right: 1px solid $borderColor;
                }

            }
        }

        .half {

            padding: 0 0 100px 0px;
            z-index: -1;

            &.one {

                // width: 50%;
                flex: 0 0 50%;
                padding: 0 0 100px 20px;

                h1 {
                    font-family: $mainFontBold;
                    line-height: 75pt;
                    font-size: 94px;
                    min-width: calc(100% + 100px);
                    min-height: 200px;
                    margin-top: 100px;
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    color: #3a3a3a;
                    letter-spacing: -0.04em;  
                    mix-blend-mode: color-burn;
                    opacity: 1;

                    @media (max-width: 1550px) {
                        font-size: 90px;
                        line-height: 80pt;
                    }

                    @media (max-width: 1450px) {
                        font-size: 85px;
                        line-height: 80pt;
                    }

                    @media (max-width: 1350px) {
                        font-size: 80px;
                        line-height: 80pt;
                    }

                    @media (max-width: 1250px) {
                        font-size: 80px;
                        line-height: 75pt;
                    }

                    @media (max-width: 1150px) {
                        font-size: 80px;
                        line-height: 65pt;
                    }

                    @media (max-width: 1090px) {
                        min-width: calc(65% + 100px);
                        font-size: 65px;
                        line-height: 55pt;
                    }

                }

                p {
                    font-family: $mainFontRegular;
                    font-weight: bold;
                    font-size: 18px;
                    color: $bodyColor;
                    line-height: 28px;
                    letter-spacing: 0.5px;
                }

                button {
                    background: $accentColor;
                    color: #fff;
                    border-radius: 20px;
                    border: 0;;
                    padding: 8px 18px;
                    font-size: 15px;
                }
                
                a {
                    font-size: 15px;
                    margin: 0 0 0 10px;
                    font-family: $mainFontSemibold;
                    text-decoration: none;
                    color: $accentColor;
                    font-weight: 900;

                    i {
                        border-width: 0 2.6px 2.6px 0;
                        padding: 2.8px;
                        border-color: $accentColor;
                    }
                }
            }

            &.two {

                width: 50%;
                flex: 1;
                
                .bg-image {
                    width: 50%;
                    flex: 0 0 50%;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    background: url('../img/header_img.png');
                    background-size: auto 60%;
                    background-repeat: no-repeat;
                    background-position: top right;

                    @media (max-width: 1550px) {
                        background-position: calc(100% - -30px) 0;
                    }

                    @media (max-width: 1450px) {
                        background-position: calc(100% - -50px) 0;
                    }

                    @media (max-width: 1350px) {
                        background-position: calc(100% - -70px) 0;
                    }

                    @media (max-width: 1250px) {
                        background-position: calc(100% - -90px) 0;
                    }

                    @media (max-width: 1150px) {
                        background-position: calc(100% - -150px) 0;
                    }

                    @media (max-width: 1090px) {
                        background-position: calc(100% - -200px) 0;
                    }

                    @media (max-width: 1050px) {
                        background-size: 130% auto;
                    }

                    @media (max-width: 700px) {
                        display: none;
                    }

                }

            }
        }

        .customers {
            
            box-sizing: border-box;
            padding: 0 0 100px 0;

            ul {

                list-style: none;
                display: flex;
                flex-wrap: wrap;

                li {

                    flex: 1 0 25%;

                    @include respond-below('medium') {
                        
                        flex: 0 0 33.3%;
                        margin: 50px 0;

                        &:nth-child(n+4) {
                            margin-top: 50px;
    
                        }

                    }

                    img {
                        width: 200px;
                        height: auto;
                    }

                    @include respond-above('medium') {
                        
                        &:nth-child(n+5) {
                            margin-top: 50px;
    
                        }

                    }

                    @include respond-below('medium') {
                        

                    }
                }
            }
        }
    }
}

div.secondSection {

    position: relative;
    z-index: 999;

    .container {

        display: flex;
        flex-wrap: wrap;
        width: 1090px;
        margin: 0 auto;

        .half {

            padding: 0 0 100px 0px;
            z-index: 999;

            &.one {

                flex: 0 0 35%;
                padding: 0 0 100px 20px;
                margin-top: 100px;

                h3 {
                    font-family: $mainFontBold;
                    color: $accentColor2;
                }

                h1 {
                    font-family: $mainFontBold;
                    line-height: 40pt;
                    font-size: 40px;
                    color: white;

                }

                p {
                    font-family: $mainFontRegular;
                    font-weight: bold;
                    font-size: 18px;
                    color: $textGray;
                    line-height: 28px;
                    letter-spacing: 0.5px;

                    span.blue {

                        color: $accentColor2;

                    }
                }

                button {
                    background: $accentColor;
                    color: #fff;
                    border-radius: 20px;
                    border: 0;;
                    padding: 8px 18px;
                    font-size: 15px;
                }
                
                a {
                    font-size: 15px;
                    margin: 0 0 0 10px;
                    font-family: $mainFontSemibold;
                    text-decoration: none;
                    color: $accentColor;
                    font-weight: 900;

                    i {
                        border-width: 0 2.6px 2.6px 0;
                        padding: 2.8px;
                        border-color: $accentColor;
                    }
                }

            }

            &.two {

                flex: 0 0 50%;
                padding: 0 0 100px 20px;
                margin-top: 100px;

            }
        
        }

        .infoBoxes {

            display: flex;
            margin-bottom: 100px;

            .infoBox {

                flex: 1 0 17%;
                margin: 10px;
                padding: 10px;

                h3 {
                    font-size: 22px;
                    font-family: $mainFontSemibold;
                    color: white;

                    span.blue {

                        width: 1px;
                        background: $accentColor2;
                        margin-right: 10px;
                        height: 17px;
                        display: inline-block;

                    }
                }

                h1 {
                    font-family: $mainFontBold;
                    line-height: 40pt;
                    font-size: 40px;
                    color: white;

                }

                p {
                    font-family: $mainFontRegular;
                    font-weight: bold;
                    font-size: 14px;
                    color: $textGray;
                    line-height: 22px;
                    letter-spacing: 0.5px;

                    span.blue {

                        color: $accentColor2;

                    }
                }

            }


        }

        .globeContainer {
            overflow: hidden;
            width: 100%;
            min-height: 900px;
            height: 100%;
            left: 0;
            position: absolute;
            background: #0a2540;
            z-index: -1;

            #globeDiv {

                position: absolute;
                width: 60%;
                right: 0;
                z-index: -1; 
    
            }

        }
    
    }

}